<%= form_for(@incident) do |f| %>
  <% if @incident.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@incident.errors.count, "error") %> prohibited this incident from being saved:</h2>

      <ul>
      <% @incident.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject, :size => 82 %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :rows => 10, :cols => 80 %>
  </div>
  <div class="container">
	<div class="row">
		<div class="col-md-12">
			<div id='map'></div>
			<pre id='coordinates' class='ui-coordinates'>Drag the red marker to provide the incident's geolocation!</pre>
		</div>
	</div>
   </div>

   <%= f.hidden_field :latitude, value: "0" %>
   <%= f.hidden_field :longitude, value: "0" %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


