<p id="notice"><%= notice %></p>

<!-- <div class="center"> <h1>My Incidents</h1> </div> -->

<h1>My Incidents</h1>

<table class="table",border="1">
  <thead>
    <tr>
      <th>Incident number</th>
      <th>Subject</th>
      <th>Status</th>
      <th>Is closed</th>
      <th>Closed date</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @incidents.each do |incident| %>
      <tr>
        <td><%= incident.incident_number %></td>
        <td><%= incident.subject %></td>
        <td><%= incident.status %></td>
        <td><%= incident.is_closed %></td>
        <td><%= incident.closed_date %></td>
        <td><%= link_to 'Show', incident %></td>
        <td><%= link_to 'Edit', edit_incident_path(incident) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Incident', new_incident_path %>
