<p id="notice"><%= notice %></p>

<p>
  <strong>Incident number:</strong>
  <%= @incident.incident_number %>
</p>

<p>
  <strong>Closed date:</strong>
  <%= @incident.closed_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @incident.description %>
</p>

<p>
  <strong>Is closed:</strong>
  <%= @incident.is_closed %>
</p>

<p>
  <strong>Status:</strong>
  <%= @incident.status %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @incident.subject %>
</p>

<%= link_to 'Edit', edit_incident_path(@incident) %> |
<%= link_to 'Back', incidents_path %>
