/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navigationBar {
  width: 100%; 
  float: left;
  margin: 0 0 3em 0;
  padding: 0 0 0 0;
  list-style: none; 
  background-color: black;
}

.navigationBar li {
  color: white;
  float: right; 
}

.navigationBar li a:link {
  color: white;	
}

.navigationBar li a:visited {
  color: white;	
}