<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
       <% if account_signed_in? %>
       <li><%= link_to "Home",   root_path %></li>
     <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_account.reload.first_name %>'s account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li> <%= link_to 'Account Settings', edit_account_registration_path %> </li>
              <li class="divider"></li>
              <li> <%= link_to 'Update My Profile', accounts_edit_profile_path %> 
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", destroy_account_session_path, method: "delete"%>
              </li>
            </ul>
      </li>

        <% else %>
        <li><%= link_to "Log in", new_account_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>